* {
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

.buttonLogin {
    background-color: #030128;
    color: #FFF;
    padding: 5px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    cursor: pointer;
    margin-top: 40px;
    width: 100px;
    transition: all ease .6s;
}

.buttonLogin:hover {
    background-color: rgb(254, 254, 254);
    color: black;
}

.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleH1 {
    font-size: 50px;
    color: white;
    font-family: 'Akshar', sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm input {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 468px) {
    .loginForm input {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .loginForm input {
        width: 220px;
    }
}