.containerProvedores {
    padding-top: 70px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.leftSideProvedores {
    width: 40%;
    border: 1px solid red;
    height: 600px;
}

.rightSideProvedores {
    width: 40%;
    border: 1 px solid blue;
    height: 600px;
}