.containerProvedores{
    padding-top: 80px;
    width: 100%;
    
}

.leftSideProvedores{
    width: 40%;
    border: 1px solid red;
    height: 600px;
}

.rightSideProvedores{
    width: 40%;
    border: 1 px solid blue;
    height: 600px;
}