body {
    background-color: #030128;
}

.containerNavBar {
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.imgLogo {
    margin-left: 30px;
    height: 60px;
}

.navbarLogo {}

.navbarMenu {
    margin-right: 30px;
}

.linksnavbarMenu {
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: all ease .5s;
}

.linksnavbarMenu:hover {
    background-color: rgb(16, 16, 50);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.containerFacturasPage {
    padding-top: 70px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

.buttonLogin {
    background-color: #030128;
    color: #FFF;
    padding: 5px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    cursor: pointer;
    margin-top: 40px;
    width: 100px;
    transition: all ease .6s;
}

.buttonLogin:hover {
    background-color: rgb(254, 254, 254);
    color: black;
}

.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleH1 {
    font-size: 50px;
    color: white;
    font-family: 'Akshar', sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm input {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 468px) {
    .loginForm input {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .loginForm input {
        width: 220px;
    }
}

.containerMain {
    padding-top: 70px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.containerObrasPage {
    padding-top: 70px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.containerProvedores {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.leftSideProvedores {
    width: 40%;
    height: 600px;
    overflow-y: scroll;
}

.leftSideProvedores::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.leftSideProvedores::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* color of the tracking area */
}

.leftSideProvedores::-webkit-scrollbar-thumb {
    background-color: rgb(94, 88, 88);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none
    /* creates padding around scroll thumb */
}

.rightSideProvedores {
    width: 40%;
    border: 1 px solid blue;
    height: 600px;
}

.provedorItem {
    margin: 5px;
    padding-left: 10px;
    background-color: rgb(44, 41, 212);
    border: 2px solid black;
}

.newProvedorForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.newProvedorForm input {
    margin-bottom: 10px;
}

.newProvedorForm button {
    margin-bottom: 10px;
    border-radius: 5px;
}

.editProvedorForm {
    display: flex;
    flex-direction: column;
}